﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <p>@ViewBag.Tere!</p>
    <p>@ViewBag.Message</p>
    <h1>@ViewBag.Param</h1>
    <h1>@ViewBag.QueryString</h1>
    <h1>@ViewBag.Vanaema</h1>

    <h2>Session: @ViewBag.Session.Loendur Started:(@ViewBag.Session.Started.ToLongTimeString())</h2>
    <h2>Application: @ViewBag.Application.Loendur Started:(@ViewBag.Application.Started.ToLongTimeString())</h2>


</div>
